.header {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;

    background: #5ad8bd;
	font-family: 'Courier New', Courier, monospace;
}

.nav__title {
    margin: 0px 30px;
	
}
.nav__item {
    display: inline-block;
    margin: 0px 30px;
}